# Environment files
.env

# Storage files
#storage/

# Dependencies
node_modules

# IDE files
.idea
.vscode

# Build output
dist
build

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log
